<footer class="border-top footer text-muted">
    <div class="container">
        <button id="randomizeBoard" class="btn btn-primary">Randomize Board</button>
        <button id="nextGeneration" class="btn btn-secondary">Next Generation</button>
        <button id="autoPlay" class="btn btn-success">Auto Play</button>
        <button id="clearBoard" class="btn btn-danger">Clear Board</button>
    </div>
</footer>