<div class="instructions w-100">

    <h2 class="display-6">Instructions</h2>

    <ol>
        <li><strong>Underpopulation</strong>: Any live cell (1) with fewer than two live neighbors dies, as if caused by underpopulation.</li>
        <li><strong>Survival</strong>: Any live cell (1) with two or three live neighbors remains alive in the next generation.</li>
        <li><strong>Overcrowding</strong>: Any live cell (1) with more than three live neighbors dies, as if by overcrowding.</li>
        <li><strong>Reproduction</strong>: Any dead cell (0) with exactly three live neighbors becomes a live cell (1), as if by reproduction.</li>
    </ol>

</div>