<div class="modal fade" id="customModal" tabindex="-1" role="dialog" aria-labelledby="customModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="customModalTitle">Whoops! There has been an error...</h5>
            </div>
            <div class="modal-body">
                <p id="customModalMessage">Try refreshing the page and trying again.</p>
            </div>
        </div>
    </div>
</div>
