@using GameOfLife.ViewModels
@model GameOfLifeViewModel
@{
    ViewData["Title"] = "The Game of Life";
}

<div class="page">

    <div class="content-container">

        <div class="side-panel">

            <div class="header text-center">
                <h1 class="display-4">The Game of Life</h1>
            </div>

        </div>

    </div> 

</div>